* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.main{
    display: flex;
    max-width: 900px;
    margin: auto;
    height: 100vh;
}
.main + div{
    border: 2px solid red;
    height: 100%;
    width: 100%;
}
.main .left-container{
    width: 38%;
    background: url(bg.jpg);
    background-size: cover;
    position: relative;
}
.left-container .item{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    top: 140px;
    width: 100%;
    display: flex;
    height: 7.2rem;
    color: #fff;
    font-size: 30px;
}
.main .right-container{
    width: 62%;
}
.right-container .item1{
    padding: 120px 60px 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #edf0f4;
    height: 37%;
}
.right-container .item1 p{
    font-size: 17px;
}
.right-container .item2{
    height: 31%;
    background: #fff;
    padding: 10px 10px 10px 20px;
}
.right-container .item2 .form{
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 400px;
    gap: 8px;
    justify-content: space-around;
    flex-wrap: wrap;
}
form h4{
    margin: 6px;
}
form label{
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
}
input{
    border: 1px solid #E5E7EB;
    padding: 4px;
}
input:valid{
    border: 1px solid #7a72e5;
    background: #E5E7EB;
}
input:invalid{
    border: 1px solid #b92326;
}
:focus{
    border: 1px solid #7a72e5;
    outline: none;
}
input:focus:invalid{
    border: 1px solid #b92326;
}
.right-container .item3{
    height: 32%;
    background: #edf0f4;
    padding: 30px;
}
.right-container .item3 button{
    color: #fff;
    background: #596D48;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}
.right-container .item3 p{
    font-size: 13px;
    margin-top: 15px;
}
.right-container .item3 a{
    color: #596D48;
    text-decoration: none;
}